
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><%= image_tag("logo.png", :alt => "REDRIBBON.US") %></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id='links'>
                <li><a href="#servicesSection">Services</a></li>
                <li><a href="#hugs1">About Us</a></li>
                <li><a href="#getInvolved">Get Involved</a></li>
                <li><a href="#contactUs">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if session[:user_id] %>
                <li><%= link_to 'Logout', '/sessions/destroy', :method => "get" %></li>
              <% else %>
                <li class="dropdown"><!-- register -->
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Register <span class="caret" id='reg'></span></a>
                    <ul class="dropdown-menu dropdown-lr animated flipInX" role="menu">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h3><b>Register</b></h3></div>
                            <form id="ajax-register-form" action="/users" method="post" role="form" autocomplete="off">
                                <div class="form-group">
                                    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                                    <input type="text" name="users[alias]" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="users[email]" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="users[password]" id="password" tabindex="2" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="users[password_confirmation]" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6 col-xs-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-success" value="Register Now">
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" class="hide" name="token" id="token" value="7c6f19960d63f53fcd05c3e0cbc434c0">
                            </form>
                        </div>
                    </ul>
                </li><!-- register -->
                <li class="dropdown"><!-- login -->
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Log In <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-lr animated flipInX" role="menu">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h3><b>Log In</b></h3></div>
                            <form id="ajax-login-form" action="/login" method="post" role="form" autocomplete="off">
                                <div class="form-group">
                                    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                                    <label for="email">Email</label>
                                    <input type="email" name="sessions[email]" id="email" tabindex="1" class="form-control" placeholder="Email" value="" autocomplete="off">
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="sessions[password]" id="password" tabindex="2" class="form-control" placeholder="Password" autocomplete="off">
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <input type="checkbox" tabindex="3" name="remember" id="remember">
                                            <label for="remember"> Remember Me</label>
                                        </div>
                                        <div class="col-xs-5 pull-right">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Log In">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="" tabindex="5" class="forgot-password">Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" class="hide" name="token" id="token" value="a465a2791ae0bae853cf4bf485dbe1b6">
                            </form>
                        </div>
                    </ul>
                </li><!-- login -->
              <% end %><!-- if session[:user_id] -->
             </ul>
        </div>
    </div>
</nav>
<div id='hands' class="parallax">

    <% if flash[:errors] %>
        <div id="errors">
            <% flash[:errors].each do |e| %>
                <p>
                    <%= e %>
                </p>
            <% end %>
        </div>
    <% end %>
            <div id="splashinfo">
                <h1>Helping People Who Need To Know</h1>
                <p>RedRibbon.US was created to provide the Dallas community impacted by HIV/AIDS with a centralized repository of up-to-date, accurate information regarding local services.</p>
            </div>
</div>
<!-- <div class="lorem"> -->

<div class="shadow" id='servicesSection'>
    <div id="services">
        <h4>All Services</h4>
        <ul id='servicesList'>
            <% if @all_services %>
              <% @first_service             = @all_services.first %>
              <% if @first_service %>
                <% @first_service_address   = @first_service.addresses ? @first_service.addresses[0] : nil %>
                <% @first_service_state     = @first_service_address != nil ? @first_service_address.state : nil %>
                <% @first_service_zip       = @first_service_address != nil ? @first_service_address.zip : nil %>

                <% @first_service_contact   = @first_service.contacts[0] ? @first_service.contacts[0] : nil %>
              <% end %>
                <% @all_services.each do |e| %>
                    <li>
                        <%= link_to "#{e.name}", "#", onclick: "selectService(#{e.id}); return false" %>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>
        <div id="description">
            <h1 id='serviceName'><%= @first_service ? @first_service.name : nil %></h1>
              <p id='serviceWebsite'><a href='<%= @first_service ? @first_service.website : nil %>'><%= @first_service ? @first_service.website : nil %></a></p>
            <h3>Description</h3>
              <p id='serviceDescription'><%= @first_service ? @first_service.description : nil %></p>
            <!-- <h3>Hours</h3>
              <p id='serviceHours'>Hours: <%= @first_service ? @first_service.hours : nil %></p> -->
            <h3>Contact</h3>
              <p id='contactName'>Name: <%= @first_service_contact != nil ? @first_service_contact.name : nil %></p>
              <p id='contactEmail'>Email: <%= @first_service_contact != nil ? @first_service_contact.email : nil %></p>
              <p id='contactPhone'>Phone: <%= @first_service_contact != nil ? @first_service_contact.phone : nil %></p>
        </div>
        <div id="map">
          <% if @first_service_address != nil %>
            <iframe id="imap" src="http://www.google.com/maps/embed/v1/place?key=AIzaSyCm5KqD2-sVqIMbQMnWkf6eKc3upQCVqpM&q=<%= @first_service_address.number %>+<%= @first_service_address.street %>+<%= @first_service_address.city %>+<%= @first_service_state %>+<%= @first_service_zip %>&zoom=13&attribution_source=Google+Maps+Embed+API" allowfullscreen>

            </iframe>
          <% end %>
        </div>
</div>

<!-- </div> -->
<div id="friends" class="parallax"></div>

<div id="hugs1" class="">
    <div id="secondParallax"></div>
    <div class="text">
        <div class="center">
            <h1>ABOUT US</h1>
            <h3> Bringing the Community Together... for <span>YOU</span> </h3>
            <p> We are creating a centralized and update-to-date platform that allows those impacted by HIV (whether they are the patient, a parent, sibling or friend) an easily navigable site to find resources that will save their lives. </p>

            <p> We are excited to have been selected as the focus project for the inaugural #FirstHack event and look forward to launching our full site in Q4 2016.</p>

            <p> Our site will be driven by the community, and while we are starting in the North Texas area, we see potential to rapidly begin to support communities nation-wide.</p>
        </div>
    </div>
    <div id="thirdParallax"></div>
    <div class="text" id='getInvolved'>
        <div class="center">
            <h1>Get Involved</h1>
            <h3>We get by with a little help from...you! </h3>
            <p>If you want to donate your time, spare change, smile, etc; let us know!</p>
            <form action="">
                <label>First Name:
                    <input type="text" name='first_name'>
                </label>
                <label>Last Name:
                    <input type="text" name='last_name'>
                </label>
                <label>Email:
                    <input type="email" name='email'>
                </label>
                <label>Message:
                    <textarea name="message"></textarea>
                </label>
                <label>
                    <input type="submit" name='sumbit'>
                </label>
            </form>
        </div>
    </div>
</div>

<footer class="footer-distributed">

    <div class="footer-left" id="contactUs">

        <%= image_tag("logo.png", :alt => "REDRIBBON.US") %>

            <p class="footer-links">
                <a href="#">Home</a> ·
                <a href="#servicesSection">Services</a> ·
                <a href="#hugs1">About Us</a> ·
                <a href="#getInvolved">Get Involved</a>

            </p>

            <p class="footer-company-name">REDRIBBON.US &copy; 2016</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span></span> Dallas, Texas</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+1 972 999 9999</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">into@RedRibbon.us</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"><%= image_tag("facebook.png", :alt => "REDRIBBON.US") %></i></a>
            <a href="#"><i class="fa fa-twitter"><%= image_tag("twitter.png", :alt => "REDRIBBON.US") %></i></a>

        </div>

    </div>

</footer>
